In [7]:
%matplotlib inline
import pandas as pd

In [10]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [11]:
titles = pd.DataFrame.from_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [13]:
cast = pd.DataFrame.from_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [14]:
len(titles)

230621

### What are the earliest two films listed in the titles dataframe?

In [23]:
titles=titles.set_index('title')

In [25]:
titles['year'].sort_values(axis=0, ascending=True, kind='quicksort').head(2)

title
Miss Jerry            1894
The Startled Lover    1898
Name: year, dtype: int64

### How many movies have the title "Hamlet"?

In [35]:
hamlet=titles[titles.index=='Hamlet']
hamlet

        year
title
Hamlet  1948
Hamlet  1990
Hamlet  1910
Hamlet  1976
Hamlet  1987
Hamlet  2000
Hamlet  1921
Hamlet  2011
Hamlet  1969
Hamlet  1954
Hamlet  1913
Hamlet  2015
Hamlet  2009
Hamlet  1964
Hamlet  1996
Hamlet  1911
Hamlet  1973
Hamlet  2014

In [36]:
len(hamlet)

18

### How many movies are titled "North by Northwest"?

In [40]:
N=titles[titles.index=='North by Northwest']
N

                    year
title
North by Northwest  1959

In [41]:
len(N)

1

### When was the first movie titled "Hamlet" made?

In [49]:
hamlet.year.min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [69]:
treasure=titles[titles.index=='Treasure Island']
treasure

                 year
title
Treasure Island  1920
Treasure Island  1972
Treasure Island  1950
Treasure Island  1973
Treasure Island  1999
Treasure Island  1934
Treasure Island  1985
Treasure Island  1918

In [70]:
treasure.year.sort_values(axis=0, ascending=True, kind='quicksort')

title
Treasure Island    1918
Treasure Island    1920
Treasure Island    1934
Treasure Island    1950
Treasure Island    1972
Treasure Island    1973
Treasure Island    1985
Treasure Island    1999
Name: year, dtype: int64

### How many movies were made in the year 1950?

In [66]:
fifties=titles[titles.year==1950]

In [67]:
len(fifties)

1093

### How many movies were made in the year 1960?

In [72]:
titles[titles.year==1960].count()

year    1496
dtype: int64

In [74]:
sixties=titles[titles.year==1960]
len(sixties)

1496

### How many movies were made from 1950 through 1959?

In [75]:
titles[(titles.year>=1950) & (titles.year<=1959)].count()

year    12656
dtype: int64

In [76]:
fifmov=titles[(titles.year>=1950) & (titles.year<=1959)]
len(fifmov)

12656

### In what years has a movie titled "Batman" been released?

In [87]:
titles[titles.index=='Batman'].year

title
Batman    1989
Batman    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [89]:
inception=cast[cast.title=='Inception']
len(inception)

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [98]:
len(inception[inception.n.isnull()])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [106]:
len(inception[inception.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [120]:
northwest=cast[cast.title=='North by Northwest'].dropna()
northwest.set_index('n').sort_index()

,title,year,name,type,character
n,,,,,
1.0,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill
2.0,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall
3.0,North by Northwest,1959,James Mason,actor,Phillip Vandamm
4.0,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill
5.0,North by Northwest,1959,Leo G. Carroll,actor,The Professor
6.0,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend
7.0,North by Northwest,1959,Philip Ober,actor,Lester Townsend
8.0,North by Northwest,1959,Martin Landau,actor,Leonard
9.0,North by Northwest,1959,Adam Williams,actor,Valerian
10.0,North by Northwest,1959,Edward Platt,actor,Victor Larrabee
11.0,North by Northwest,1959,Robert Ellenstein,actor,Licht
12.0,North by Northwest,1959,Les Tremayne,actor,Auctioneer
13.0,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross
14.0,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm
15.0,North by Northwest,1959,Edward Binns,actor,Captain Junket
16.0,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [125]:
sleuth1972=cast[(cast.title=='Sleuth') & (cast.year==1972)].set_index('n').sort_index()
sleuth1972

      title  year                name     type                   character
n
1.0  Sleuth  1972    Laurence Olivier    actor                 Andrew Wyke
2.0  Sleuth  1972       Michael Caine    actor                 Milo Tindle
3.0  Sleuth  1972      Alec Cawthorne    actor           Inspector Doppler
4.0  Sleuth  1972  John (II) Matthews    actor  Detective Sergeant Tarrant
5.0  Sleuth  1972  Eve (III) Channing  actress             Marguerite Wyke
6.0  Sleuth  1972        Teddy Martin    actor      Police Constable Higgs

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [127]:
sleuth2007=cast[(cast.title=='Sleuth') & (cast.year==2007)].set_index('n').sort_index()
sleuth2007

       title  year                 name     type          character
n
 1.0  Sleuth  2007        Michael Caine    actor             Andrew
 2.0  Sleuth  2007             Jude Law    actor               Milo
 3.0  Sleuth  2007        Harold Pinter    actor        Man on T.V.
NaN   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.
NaN   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler
NaN   Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke
NaN   Sleuth  2007    Carmel O'Sullivan  actress             Maggie

### How many roles were credited in the silent 1921 version of Hamlet?

In [130]:
hamlet1921=cast[(cast.title=='Hamlet') & (cast.year==1921)]
len(hamlet1921)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [133]:
hamlet1996=cast[(cast.title=='Hamlet') & (cast.year==1996)]
len(hamlet1996)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [135]:
allhamlet=cast[(cast.title=='Hamlet') & (cast.character=='Hamlet')]
len(allhamlet)

15

### How many people have played an "Ophelia"?

In [137]:
ophelia=cast[(cast.title=='Hamlet') & (cast.character=='Ophelia')]
len(ophelia)

15

### How many people have played a role called "The Dude"?

In [139]:
dude=cast[(cast.title=='Hamlet') & (cast.character=='The Dude')]
len(dude)

0

### How many people have played a role called "The Stranger"?

In [140]:
stranger=cast[(cast.title=='Hamlet') & (cast.character=='The Stranger')]
len(stranger)

0

### How many roles has Sidney Poitier played throughout his career?

In [142]:
len(cast[cast.name=='Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [143]:
len(cast[cast.name=='Judi Dench'])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [147]:
cast[(cast.name=='Cary Grant') & (cast.year>=1940) & (cast.year<1950) & (cast.n==2)].set_index('year').sort_index()

                 title        name   type    character    n
year
1940  My Favorite Wife  Cary Grant  actor         Nick  2.0
1941    Penny Serenade  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [150]:
cast[(cast.name=='Cary Grant') & (cast.year>=1940) & (cast.year<1950) & (cast.n==1)].set_index('year').sort_index()

,title,name,type,character,n
year,,,,,
1940,The Howards of Virginia,Cary Grant,actor,Matt Howard,1.0
1940,His Girl Friday,Cary Grant,actor,Walter Burns,1.0
1940,The Philadelphia Story,Cary Grant,actor,C. K. Dexter Haven,1.0
1941,Suspicion,Cary Grant,actor,Johnnie,1.0
1942,The Talk of the Town,Cary Grant,actor,Leopold Dilg,1.0
1942,Once Upon a Honeymoon,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
1943,Destination Tokyo,Cary Grant,actor,Capt. Cassidy,1.0
1943,Mr. Lucky,Cary Grant,actor,Joe Adams,1.0
1943,Mr. Lucky,Cary Grant,actor,Joe Bascopolous,1.0
1944,Once Upon a Time,Cary Grant,actor,Jerry Flynn,1.0
1944,Arsenic and Old Lace,Cary Grant,actor,Mortimer Brewster,1.0
1944,None But the Lonely Heart,Cary Grant,actor,Ernie Mott,1.0
1946,Night and Day,Cary Grant,actor,Cole Porter,1.0
1946,Notorious,Cary Grant,actor,Devlin,1.0
1947,The Bachelor and the Bobby-Soxer,Cary Grant,actor,Dick Nugent,1.0
1947,The Bishop's Wife,Cary Grant,actor,Dudley,1.0
1948,Mr. Blandings Builds His Dream House,Cary Grant,actor,Jim Blandings,1.0
1948,Every Girl Should Be Married,Cary Grant,actor,Dr. Madison Brown,1.0
1949,I Was a Male War Bride,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [152]:
len(cast[(cast.year>=1950) & (cast.year<1960) & (cast.type=='actor')])

154727

### How many roles were avilable for actresses in the 1950s?

In [155]:
len(cast[(cast.type=='actress') & (cast.year>=1950) & (cast.year<1960)])

56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [156]:
len(cast[(cast.n==1) & (cast.year<=1980)])

63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [157]:
len(cast[(cast.n !=1) & (cast.year<=1981)])

1116762

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [159]:
len(cast[(cast.n.isnull()) & (cast.year<=1981)])

442601